:root {
  background-color: #44d7b6;
}

@media screen and (min-width: 768px) {
	header {
	overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 10;
  margin: 0 auto;
  min-width: 66%;
  max-width: 88%;
  height: 4.5em;
  background-color: #bcefc7;
  border-radius: 0em 0em 2.5em 2.5em;
	justify-self: center;
	}
}

@media screen and (max-width: 767px) {
	header {
	overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 10;
	margin-left: 10%;
  min-width: 33%;
	max-width: 66%;
  height: 4.5em;
  background-color: #bcefc7;
  border-radius: 0em 0em 2.5em 2.5em;
	justify-self: center;
	}
}

.guia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90%;
  height: 100%;
	justify-self: center;
	margin: 0 auto;
}

.items-guia {
  display: flex;
  flex-direction: row;
  justify-content: center;
	margin: auto 10%;
	min-width: 70em;
	max-width: 100em;
}

.item{
	display: flex;
	flex-direction: row;
	max-width: 20em;
}

.Link{
	margin-left: 1%;
	text-decoration: none;
}